<div id="primary-actions" class="btn-group-vertical" role="group" aria-label="Actions">
    <!-- Daily Command -->
    <button class="action btn btn-outline-light"
            type="button"
            title="Send Daily Command"
            data-bs-toggle="collapse"
            data-bs-target="#divine-message">
        <i class="bi bi-journal-plus"></i>
    </button>
    <div id="divine-message"
         class="card float-left collapse"
         data-bs-parent="#primary-actions">
        <div class="card-header">
            <span>
                Divine Message
                <i class="bi bi-info-circle" title="Once per day, you may bestow a Divine Message to your villagers through the Priest's Bible."></i>
            </span>
            <a href="#" class="card-link float-end">Locate Bible</a>
        </div>
        <div class="card-body">
            <input type="text" id="text-input" @bind="InputText" placeholder="Type something...">
            <button type="button" class="btn btn-primary">Send</button>
        </div>
    </div>

    <!-- Perform Miracle -->
    <button class="action btn btn-outline-light"
            type="button"
            title="Perform Miracle"
            data-bs-toggle="collapse"
            data-bs-target="#miracles">
        <i class="bi bi-cloud-lightning-rain-fill"></i>
    </button>
    <div id="miracles"
         class="btn-group-vertical float-left collapse"
         role="group"
         aria-label="Miracles"
         data-bs-parent="#primary-actions">
        <button class="btn miracle btn-outline-light" type="button">
            <i class="bi bi-lightning-fill"></i>
        </button>
        <button class="btn miracle btn-outline-light" type="button">
            <i class="bi bi-heart-pulse"></i>
        </button>
        <button class="btn miracle btn-outline-light" type="button">
            <i class="bi bi-person-standing"></i>
        </button>
        <button class="btn miracle btn-outline-light" type="button">
            <i class="bi bi-cash-coin"></i>
        </button>
    </div>
</div>

@code {
    private string InputText { get; set; } = string.Empty;

    private void SubmitForm() {
        Console.WriteLine($"Submitted: {InputText}");
        InputText = string.Empty;
    }
}