@using VillageOfFate.Client.Services.Api
@using VillageOfFate.Client.Components
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4 auth dp1">
            <div class="left">
                World Time:
                @if (worldTime.HasValue) {
                    <TimeComponent GetTime="() => worldTime.Value" />
                } else {
                    <em>Loading...</em>
                }
            </div>

            <LoginDisplay/>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@inject TimeApi TimeService

@code {
    private DateTime? worldTime;

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        worldTime = await TimeService.GetWorldTime();
    }

}