@page "/world/sectors/{Id:guid}"
@inject SectorsApi SectorsApi

<title>Sector @sector?.Position</title>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/world">World</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Sector @sector?.Position</li>
    </ol>
</nav>

@if (sector == null) {
    <p>
        <em>Loading...</em>
    </p>
} else {
    <div class="d-flex">
        <ImageComponent ImageId="sector.ImageId" alt=""/>
        <p>@sector.Description</p>
    </div>

    <div class="accordion" id="accordionPanels">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#villagers" aria-expanded="true" aria-controls="villagers">
                    Villagers
                </button>
            </h2>
            <div id="villagers" class="accordion-collapse collapse show">
                <div class="entity-container">
                    @if (villagers == null) {
                        <em>Loading...</em>
                    } else {
                        @foreach (var villager in villagers) {
                            <VillagerComponent Villager="@villager" SectorId="Id"/>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#items" aria-expanded="true" aria-controls="items">
                    Items
                </button>
            </h2>
            <div id="items" class="accordion-collapse collapse show">
                <div class="entity-container">
                    @if (sector.Items.Any()) {
                        @foreach (var item in sector.Items) {
                            <ItemComponent Item="@item"/>
                        }
                    } else {
                        <i>Empty</i>
                    }
                </div>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#events" aria-expanded="true" aria-controls="events">
                    Events
                </button>
            </h2>
            <div id="events" class="accordion-collapse collapse show">
                @if (events == null) {
                    <em>Loading...</em>
                } else {
                    @foreach (var webEvent in events) {
                        <EventComponent Event="@webEvent"/>
                    }
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public Guid Id { get; set; }

    private WebSector? sector;
    private IEnumerable<WebVillager>? villagers;
    private IEnumerable<WebEvent>? events;

    protected override async Task OnParametersSetAsync() {
        sector = await SectorsApi.GetSectorAsync(Id);
        villagers = await SectorsApi.GetVillagersAsync(Id);
        events = await SectorsApi.GetEventsAsync(Id);
    }
}