@page "/world/sectors/{Id:guid}"
@using VillageOfFate.Client.Components
@using VillageOfFate.Client.Services.Api
@using VillageOfFate.WebModels
@inject SectorApi SectorApi
@inject NavigationManager NavigationManager
@inject ImageApi ImageApi

<PageTitle>Villager Detail</PageTitle>

@if (sector == null) {
    <p>
        <em>Loading...</em>
    </p>
} else {
    <h1>
        <button class="btn btn-primary" @onclick="GoBack">&lt;</button>
        @sector.Position
    </h1>

    <img src="@ImageApi.GetImageUrl(sector.ImageId)" alt=""/>
    <p>@sector.Description</p>

    <h3>Items:</h3>
    <div class="item-container">
        @if (sector.Items.Any()) {
            @foreach (var item in sector.Items) {
                <ItemComponent Item="@item"/>
            }
        } else {
            <i>Empty</i>
        }
    </div>
}

@code {
    [Parameter] public Guid Id { get; set; }

    private WebSector? sector;

    protected override async Task OnParametersSetAsync() {
        sector = await SectorApi.GetSectorAsync(Id);
    }

    private void GoBack() {
        NavigationManager.NavigateTo("/world");
    }

}