@page "/time"
@using VillageOfFate.Client.Components
@using VillageOfFate.Client.Services.Api
@inject TimeApi TimeApi

<PageTitle>Time</PageTitle>

<div class="time-data dp2">
    <span>World Time: </span>
    @if (WorldTime.HasValue) {
        <TimeComponent GetTime="() => WorldTime.Value"/>
    } else {
        <em>Loading...</em>
    }
</div>

<div class="time-data dp2">
    <span>End Time: </span>
    @if (EndTime.HasValue) {
        <TimeComponent GetTime="() => EndTime.Value"/>
    } else {
        <em>Loading...</em>
    }
</div>

<div class="time-data dp2">
    <span>Current Time: </span>
    <TimeComponent GetTime="() => CurrentTime"/>
</div>

<button type="button" class="btn btn-primary"
        @onclick="() => AddTime(TimeSpan.FromMinutes(5))">
    Add 5m to Simulation
</button>

@code {
    public DateTime? WorldTime { get; set; }
    public DateTime? EndTime { get; set; }
    public DateTime CurrentTime => DateTime.Now;

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        await RefreshTime();
    }

    private async Task RefreshTime() {
        WorldTime = await TimeApi.GetWorldTime();
        EndTime = await TimeApi.GetEndTime();
    }

    protected async Task AddTime(TimeSpan time) {
        await TimeApi.AddTime(time);
        await RefreshTime();
    }
}