@page "/time"
@using VillageOfFate.Client.Services.Api

<PageTitle>Time</PageTitle>

<h1>Time</h1>

<p role="status">Current time: @currentTime</p>

<button class="btn btn-primary" @onclick="AdvanceTime">Click me</button>

@inject TimeApi TimeService

@code {
    private DateTime? currentTime;

    private void AdvanceTime() {
        currentTime += TimeSpan.FromSeconds(20);
    }

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        currentTime = await TimeService.GetTime();
    }

}