@page "/villagers"
@inject VillagersApi VillagersService

<PageTitle>Villagers</PageTitle>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Villagers</li>
    </ol>
</nav>

@if (villagers == null) {
    <p>
        <em>Loading...</em>
    </p>
} else {
    <div class="row">
        <div class="col-sm-6">
            @foreach (var villager in villagers) {
                <VillagerComponent Villager="villager"/>
            }
        </div>
    </div>
}

@code {
    private WebVillager[]? villagers;

    protected override async Task OnInitializedAsync() {
        villagers = await VillagersService.GetVillagers();
    }
}