@page "/world"
@using VillageOfFate.Client.Components
@using VillageOfFate.Client.Services.Api
@using VillageOfFate.WebModels
@inject WorldApi WorldService

<PageTitle>World</PageTitle>

<h1>World</h1>

@if (world == null) {
    <p>
        <em>Loading...</em>
    </p>
} else {
    <p>Time: @world.CurrenTime</p>
    <h3>Villagers</h3>
    <div class="row">
        <div class="col-sm-6">
            @foreach (var villager in world.Villagers) {
                <VillagerComponent Villager="villager"/>
            }
        </div>
    </div>

    <h3>Sectors</h3>
    <ul>
        @foreach (var sector in world.Sectors) {
            <li><a href="/world/sectors/@sector.Id">@sector.Position</a>: @sector.Description</li>
        }
    </ul>
}

@code {
    public WebWorld? world { get; private set; }

    protected override async Task OnInitializedAsync() {
        world = await WorldService.GetWorld();
    }

}