@page "/world"
@page "/"
@using VillageOfFate.Client.Services.Api
@using VillageOfFate.WebModels
@inject SectorsApi SectorsApi
@inject ImageApi ImageApi
@inject NavigationManager NavigationManager

<title>The World</title>

@if (Sectors == null) {
    <em>Loading...</em>
} else {
    <div>
        @foreach (var sector in Sectors) {
            <div class="sector"
                 @onclick="() => GoToSector(sector.Id)"
                 style="background-image: url('@ImageApi.GetImageUrl(sector.ImageId)')"
                 title="@sector.Description">
                <div>@sector.Position</div>
            </div>
        }
    </div>
}

@code {
    public IEnumerable<WebSector>? Sectors { get; private set; }

    public void GoToSector(Guid? id) {
        if (id == null) return;
        NavigationManager.NavigateTo($"/world/sectors/{id}");
    }

    protected override async Task OnInitializedAsync() {
        Sectors = await SectorsApi.GetAllAsync();
    }

}