@page "/world"
@page "/"
@inject SectorsApi SectorsApi

<title>The World</title>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">World</li>
    </ol>
</nav>

@if (Sectors == null) {
    <em>Loading...</em>
} else {
    <div>
        @foreach (var sector in Sectors) {
            <SectorTile Sector="sector"/>
        }
    </div>
}

@code {
    public IEnumerable<WebSector>? Sectors { get; private set; }

    protected override async Task OnInitializedAsync() {
        Sectors = await SectorsApi.GetAllAsync();
    }
}