@using VillageOfFate.WebModels
@using VillageOfFate.WebModels.Activities
<div class="activity dp2">
    <div>
        <strong>@Activity.Name.ToFutureString()</strong>
        <TimeSpanBadge class="ms-1" GetTimeSpan="() => Activity.TotalDuration"/>
    </div>

    @if (Activity is AdjustEmotionalStateWebActivity adjustEmotionalState) {
        <div>
            @adjustEmotionalState.Reason
        </div>
        <div>
            @adjustEmotionalState.Emotion
            @((adjustEmotionalState.Adjustment > 0 ? "+" : "") + adjustEmotionalState.Adjustment)%
        </div>
    }
</div>

@code {
    [Parameter] public required WebActivity Activity { get; init; }
}