@using VillageOfFate.Client.Services.Api
@using VillageOfFate.WebModels
@inject VillagersApi VillagersApi
@inject ImageApi ImageApi

<div class="event dp2">

    @if (Event.ActorId.HasValue) {
        @if (Villager == null) {
            <em>Loading...</em>
        } else {
            <img class="event-image" src="@ImageApi.GetImageUrl(Villager.ImageId)" width="45" height="45" alt=""/>
        }
    }

    <span>
        <div>
            @if (Event.ActorId.HasValue) {
                @if (Villager == null) {
                    <em>Loading...</em>
                } else {
                    <strong class="me-4">@Villager.Name</strong>
                }
            }
            <TimeComponent GetTime="() => Event.Time"/>
            <span>@Event.Sector</span>
        </div>
        <div>
            @Event.Description
        </div>
    </span>
</div>

@code {
    [Parameter] public required WebEvent Event { get; set; }

    private WebVillager? Villager { get; set; }

    protected override async Task OnInitializedAsync() {
        if (Event.ActorId.HasValue) {
            Villager = await VillagersApi.GetVillager(Event.ActorId.Value);
        }
    }
}