.item {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: .5em;
    border-radius: 4px;
}

::deep img {
    width: 3em;
    height: 3em;
    margin-right: 10px;
    border-radius: 4px;
}

.item .badge {
    margin-left: 0.25rem;
}