@inject ImageApi ImageApi

<div class="item dp2">
    <ImageComponent ImageId="@Item.ImageId" alt=""/>
    <div>
        <div>
            <strong>@Item.Name</strong> @QuantityText
            @if (Item.Edible) {
                <span class="badge text-bg-secondary">Edible</span>
            }
        </div>
        <div>@Item.Description</div>
    </div>
</div>

@code {
    [Parameter] public required WebItem Item { get; set; }
    public string QuantityText => Item.Quantity > 1 ? $"x{Item.Quantity}" : "";
}