@using VillageOfFate.Client.Services.Api
@using VillageOfFate.WebModels
@inject ImageApi ImageApi

<div class="item">
    <img src="@ImageApi.GetImageUrl(Item.ImageId)" alt="" width="50" height="50"/>
    <div>
        <div>@Item.Name @QuantityText</div>
        <div>@Item.Description</div>
    </div>
</div>

<style>
    .item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .item img {
        margin-right: 10px;
    }
</style>

@code {
    [Parameter] public required WebItem Item { get; set; }
    public string QuantityText => Item.Quantity > 1 ? $"x{Item.Quantity}" : "";
}