@using System.Timers
<span class="date-time" title="@Time">
    <span class="hours-minutes">@Time.Hour:@Time.Minute.ToString("00")</span>
    <span class="seconds">:@Time.Second.ToString("00")</span>
    <span class="am-pm">@AmPm</span>
    <span class="date">@Time.Month/@Time.Day</span>
</span>

@code {
    [Parameter] public required Func<DateTime> GetTime { get; set; }
    public DateTime Time => GetTime().ToLocalTime();
    public string AmPm => Time.Hour < 12 ? "AM" : "PM";

    protected override void OnInitialized() {
        base.OnInitialized();

        var timer = new Timer(TimeSpan.FromSeconds(1));
        timer.Elapsed += (_, _) => InvokeAsync(StateHasChanged);
        timer.Start();
    }
}