.hours-minutes {
    font-size: 1.0rem;
}

.seconds {
    font-size: 0.5rem;
    align-self: center;
}

.am-pm {
    font-size: 0.5rem;
    align-self: center;
}

.date {
    font-size: 1rem;
    margin-left: .5rem;
}