.villager {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: .5em;
    border-radius: 4px;
    cursor: pointer;
}

.villager img {
    width: 3em;
    height: 3em;
    margin-right: 10px;
    border-radius: 4px;
}

.villager .badge {
    margin-left: 0.25rem;
}

.text-bg-male {
    color: #fff;
    background-color: #007BFF; /* Blue */
}

.text-bg-female {
    color: #fff;
    background-color: #FF69B4; /* Pink */
}