@using VillageOfFate.Client.Services.Api
@using VillageOfFate.WebModels
@inject ImageApi ImageApi
@inject NavigationManager NavigationManager

<div class="villager dp2" @onclick="GoToVillagerPage">
    <img src="@ImageApi.GetImageUrl(Villager.ImageId)" alt=""/>
    <div>
        <div>
            <strong>@Villager.Name</strong>
            @if (Villager.Gender == Gender.Male) {
                <span class="badge text-bg-male">Male</span>
            } else {
                <span class="badge text-bg-female">Female</span>
            }
        </div>
        <div>
            @if (Villager.CurrentActivity != null) {
                @Villager.CurrentActivity.Description
            } else {
                <em>Deciding what to do next...</em>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public required WebVillager Villager { get; set; }

    private void GoToVillagerPage() => NavigationManager.NavigateTo($"/villagers/{Villager.Id}");
}