@using VillageOfFate.Client.Services.Api
@using VillageOfFate.WebModels
@inject ImageApi ImageApi

<div class="villager card">
    <div class="card-body d-inline-flex">
        <div>
            <img src="@ImageApi.GetImageUrl(Villager.ImageId)" alt=""/>
        </div>
        <div class="card-content">
            <h4>@Villager.Name</h4>
            <div>@Villager.Age Years of Age</div>
            <div>@Villager.Summary</div>
        </div>
    </div>
</div>

<style>
    .villager img {
        width: 5em;
        height: 5em;
    }
</style>

@code {
    [Parameter] public required WebVillager Villager { get; set; }
}