@using VillageOfFate.Client.Services.Api
@using VillageOfFate.WebModels
@inject ImageApi ImageApi

<div class="villager">
    <img src="@ImageApi.GetImageUrl(Villager.ImageId)" alt=""/>
    <div>
        <h4>@Villager.Name</h4>
        <div>@Villager.Age Years of Age</div>
        <div>@Villager.Summary</div>
    </div>
</div>

<style>
    .villager {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .villager img {
        margin-right: 10px;
        height: 5em;
        width: 5em;
    }
</style>

@code {
    [Parameter] public required WebVillager Villager { get; set; }
}